/**** STYLE GENERAL ****/
body {
    color: black;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    display: flex;
    min-height: calc(100vh - 18px);
  flex-direction: column;
}

main {
    flex: 1;
  }

h1 {
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
}

/**** STYLE HEADER ****/
header {
    background-color: #f3e9f1;
}

.container_header {
    display: flex;
    justify-content: space-between;
}

.container_nav {
    width: 250px;
}

.container_ul {
    display: flex;
    justify-content: space-around;
}

.list_item {
    list-style: none;
    float: left;
}

.logo {
    width: 100px;
    height: auto;
    margin-left: 15px;
}

/****  STYLE PAGE ACCUEIL ****/
.container_articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.article {
    border: 2px solid #f3e9f1;
    border-radius: 25px;
    margin: 5px;
    width: 196px;
    background-color: #f3e9f1;
}

.img {
    border-radius: 25px 25px 0 0;
    max-width: 196px;
    height: 145px;
}

.name {
    margin-top: 5px;
    font-weight: 600;
}

.infos_article {
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}

.opacity1 img {
	opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.opacity1:hover img {
	opacity: .5;
}

/**** STYLE PANIER ****/
.container_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.command_form {
    width: 260px;
    margin: auto;
}
.form {
    margin-bottom: 10px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

#separator {
    height: 2px;
    margin-top: 30px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    background-color: #f3e9f1;
}

.img_basket {
    width: 80px;
    height: 80px;
}

.table_basket {
    width: 80%;
    margin: 5px;
    background-color: #f3e9f1;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.label {
    width: 250px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.less, .plus {
    font-size: 1rem;
    margin: 10px;
    cursor: pointer;
}

/**** STYLE PAGES ARTICLES ****/
.container_article {
    display: flex;
    justify-content: center;
    margin: 50px auto;
    width: 80%;
}

.container_img {
    display: flex;
    width: 50%;
    margin-right: 20px;
}

.container_img img {
    margin: auto;
    height: auto;
    width: 100%;
}

.container_infos {
    display: flex;
    flex-direction: column;
    padding: 2%;
    width: 50%;
}

.name, .description, .rating, .color_select, .form_color, .add_basket, .see_basket {
    margin-top: 10px;
}

.btn {
    max-width: 150px;
    height: 30px;
    margin-top: 60px;
    margin-bottom: 20px;
    border: none;
    background-color: #f3e9f1;
    border-radius: 5px 5px;
    cursor: pointer;
}

/**** STYLE PANIER ****/
.delete {
   cursor: pointer;
}

/**** STYLE CONFIRMATION ****/
.name {
    text-transform: capitalize;
}

.main_confirmation {
    width: auto;
    margin: 50px auto;
    text-align: center;
}

.main_confirmation .btn {
    margin: auto;
}

/**** STYLE FOOTER ****/
footer {
    background-color: #f3e9f1;
    display: flex;
    margin-top: 20px;
}
.container_footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 51px;
}

.container_footer p {
    margin : 5px;
    display: flex;
    align-items: center;
}

